/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	select .tinynav {
		padding-right:18px
	}
}
@media(max-width:1200px) {
h3.landingpage {line-height: 25px;font-size: 18px;}
h1.landingpage {margin-left:10px;margin-top: 0px;font-size: 40px;line-height: 50px;}
}
@media screen and (min-width:600px) and (max-width:1200px) {
	#c-slide .slide1-1 {
		margin-top:-205px;
	}
	#c-slide .item {
		height:auto;
		padding:30px 0px 90px;
		height:390px;
		text-align:center;
	}
	.carouselText1 {margin-top: 20px;}
	.slide1-3{top:100px;}
	.slide1-2{right:150px;}
	
}

.boxportfolio4{width:22%}


@media(max-width:992px) {
.boxportfolio1, .boxportfolio2, .boxportfolio3, .boxportfolio4 {width:auto;}
.bgarea-semitransparent {
text-align: center;
}
.landingpage-button {text-align: center;display: inline-block;}
.pageheader-default {margin-top: 130px;}
h1.landingpage {margin-left:10px;font-size: 28px;line-height: 25px;}
h3.landingpage {line-height: 25px;font-size: 18px;}
	iframe {
		max-width:100%;
	}
	#nav {
		display:none;
	}
	.toparea {
		position:absolute;
		top:0;
		width:100%;
		z-index:1;
	}
	.toparea .social-icons {
		display:none;
	}
	body {
		color:#000;
	}
	.boxcontainer h1 a, .boxcontainer p{font-size:10px;}
}
@media screen and (min-width:600px) and (max-width:992px) {
	#c-slide {
		margin-top:127px;
	}
	.tinynav {
			margin-bottom:0;
		float:right;
		font-weight:500;
		height:40px;
		padding:3px;
		margin-top:0px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
		border-radius:4px;
		-webkit-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;
		-moz-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;
		box-shadow:0 3px 0 #ccc,0 -1px #fff inset;
		background:#f54828;
		color:#fff;
		font-size:14px;
		border:none;
		outline:none;
		display:inline;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		cursor:pointer;
		-webkit-padding-start:20px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
	}
	.footer h1 {
		margin-top:20px;
	}
	.navbar {
		padding-left:15px;
		padding-right:15px;
	}
	#c-slide .item {
		height:auto;
		padding:30px 0px 90px;
		min-height:380px;
		text-align:center;
	}
}
@media screen and (min-width:601px) and (max-width:767px) {
	.tinynav {
		margin-top:-40px;
	}
}
@media screen and (max-width:600px) {
.landingpage-button strong {margin-left: 0;font-size: 14px;}
.landingpage-button i {display:none;}
.landingpage-button {width: 180px;text-align: center;display: inline-block;}
.landingpage-button span {width: 0;margin-left: 0;top: 0;}
	.footer {
		background:#222;
	}
	.home-portfolio .carousel-indicators {
		bottom: 20px;
	}
		.notransition {
		-o-transition-property:none !important;
		-moz-transition-property:none !important;
		-ms-transition-property:none !important;
		-webkit-transition-property:none !important;
		transition-property:none !important;
		/*CSS transforms*/
		-o-transform:none !important;
		-moz-transform:none !important;
		-ms-transform:none !important;
		-webkit-transform:none !important;
		transform:none !important;
		/*CSS animations*/
		-webkit-animation:none !important;
		-moz-animation:none !important;
		-o-animation:none !important;
		-ms-animation:none !important;
		animation:none !important;
		opacity:1!important;
	}
	html {
		opacity:1!important;
	}
	.tinynav {
		position:absolute;
		top:0;
		width:100%;
		clear:both;
		float:none;
		margin-top:0;
		margin-bottom:0;
		font-weight:500;
		height:40px;
		padding:3px;
		margin:0;
		-webkit-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;
		-moz-box-shadow:0 3px 0 #ccc,0 -1px #fff inset;
		box-shadow:0 3px 0 #ccc,0 -1px #fff inset;
		background:#f54828;
		color:#fff;
		font-size:14px;
		border:none;
		outline:none;
		display:block;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		cursor:pointer;
		-webkit-padding-start:20px;
		-webkit-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
	}
	.navbar>.container .navbar-brand {
		margin-top:20px;
	}
	.navbar .container {
		padding-left:0px;
	}
	.navbar-fixed-top {
		position:absolute;
	}
	.navbar-fixed-top {
		top:0;
	}
	.navbar-nav{
	    margin-left: 10px;
	}
	#c-slide {
		margin-top:130px !Important;
	}
	.container>.navbar-header,.container>.navbar-collapse {
		padding-left:15px;
		margin-bottom:0px;
	}
	.toparea {
		display:none;
	}
	.carousel-control.left,.carousel-control.right {
		margin-top:50%;
	}
	.slide1-1 {
		margin-top:-120px;
	}
	.slide1-2 {
		right:80px;
		top:20px;
	}
	.slide1-3 {
		top:80px;
	}
	.carousel p {
		line-height:20px;
	}
	#back-top {
		display:none !important;
	}
	.intro-note p {
		padding-left:0;
		padding-right:0;
	}
	.toparea .social-icons {
		display:none;
	}
	#c-slide .item {
		height:auto;
		padding:30px 0px 90px;
		min-height:380px;
		text-align:center;
	}
	#c-slide {
		margin-top:176px;
	}
	#c-slide iframe {
		max-width:85%;
		margin-bottom:20px;
	}
	.carouselvshadow {
		display:none;
	}
	.footer h1 {
		margin-top:20px;
	}
	.copyright ul.footermenu {
		margin-top:0px;
		float:none !Important;
	}
	.copyright p {
		float:none!Important;
	}
	.cbp-qtrotator blockquote footer {
		margin-bottom: 30px;
	}
	.navbar-brand img {
    max-width: 100%;
}
}

@media screen and (max-width:767px){
	
	.navbar>.container .navbar-brand { margin-top: 0; margin: 0; padding: 0px 15px; width: 100%; }
	.navigation-root-row .navbar-header { float: left; width: 100%; }
	.navbar-custom .navbar-brand img { max-width: 100%; margin: 10px 0; padding-right: 80px; }
	
	.toparea .nav-m-bar { display: block; }
	.navigation-list-div { display: none; }

	.toparea { position: absolute; top: 0;  width: auto; z-index: 9999; right: 0; padding: 0; background-color: transparent; margin: 0; min-height: 70px; display: flex; align-items: center; justify-content: flex-end; }
	.toparea .navbar-toggle { background: #f5f5f5; margin: 0 -15px 0 0; }
	.toparea .container{ margin:0 }

	.navigation-list-div.view-navigation { position: fixed; top: -17px; right: -15px; height: 100vh; max-height: 100vh; overflow-y: scroll; background-color: #313031; width: 320px; display: block; z-index: 9999; margin: 0; padding: 52px 0 10px 0; }
	.navigation-list-div.view-navigation ul { width: 100%; flex-direction: column; }
	.navigation-list-div.view-navigation ul li { padding: 0px 0px 0px 0px; margin: 0 0 5px 0; display: inline-block; border-right: 0px solid #fff; width: 100%; }
	.navigation-list-div.view-navigation ul li .list-link { width: 100%; padding: 10px 20px 10px 20px; text-align: left; }
	.navigation-list-div.view-navigation .closebtn { position: absolute; top: 0; right: 0; display: block; padding: 15px; font-size: 30px !important; font-weight: 400; }

	.cd-shadow-layer.displayblock { height: 100vh; background-color: rgba(0, 0, 0, 0.6); width: 100%; position: fixed; left: 0; top: 0; z-index: 9999; }
	.overflow-fixed { height: 100vh; overflow: hidden; }

	.navbar.wowmenu.tiny { padding-top: 0; z-index: 999;min-height: 72px; }
	.navbar.wowmenu.tiny .navigation-root-row { min-height: 72px; }
	.wowmenu.tiny .navbar-brand img { max-width: 100%; margin: 10px 0 3px 0; }
	
	.carousel-indicators { z-index: 999; }
	.navbar-fixed-top { top: 0; margin: 0 0 0 0 !important; }

	.mobile-view-data .navbar-collapse { display: block; }
	.mobile-view-data span.contact-link { display: block; margin: 0 0 10px 0; }
	.mobile-view-data span.separator { display: none; }
	.mobile-view-data span.text-contact { display: none; }
	.mobile-view-data .contact-top-div { padding: 20px 0 0 0; }
	.mobile-view-data .navbar-collapse { display: block; background-color: #2ac4ea; margin: 0 0 20px 0; }
	.mobile-view-data .fast-quote-div { margin: 0 0 0 0px; min-height: 60px; border-top:1px solid #fff; }
	.mobile-view-data .fast-quote-div .quote-link { font-size: 16px; }
	.mobile-view-data .icon-phone { font-size: 16px; min-width: 23px; display: inline-block; }

	#c-slide { margin-top: 72px !important; }

	.product-card-box .desc-div { min-height: auto; }
	.min-height-550px{ min-height:auto !important; }

}	

@media screen and (min-width:768px) and (max-width:1024px) {

	body{ overflow-x: hidden; }
	
	.toparea { padding: 5px 0; }
	.toparea .container{ width: 100%; max-width: 1000px;  }
	.navigation-list-div ul li { padding: 0 8px 0 8px; margin: 5px 0 0px 0px; border-right: 1px solid #fff; }

	nav.navbar { top: 56px; }
	.navigation-list-div ul { justify-content: center; }
	.navbar .container{ width: 100%; max-width: 1000px;     padding: 0; }
	.navigation-root-row .navbar-header { width: 40%; }
	.navigation-root-row .navbar-collapse { float: left; width: 60%; }

	.navbar-custom .navbar-brand img { max-width: 80%; margin: 5px 0; }
	.quote-link { font-size: 16px; line-height: 22px; }

	.navbar>.container .navbar-brand { margin-left: 0; margin: 10px 0 0 0; }
	.navbar.wowmenu.tiny>.container .navbar-brand { margin-left: 0; margin: 0px 0 0 0; }

	.navbar.wowmenu.tiny { max-height: 56px; }
	.navbar.wowmenu.tiny .quote-link { font-size: 16px; line-height: 22px; }
	.wowmenu.tiny .navbar-brand img{ max-width: 80%; margin: 10px 0; }
	
	.product-card-box .desc-div { min-height: 445px; }
	.min-height-sm-600px{ min-height: 600px !important; }
	.min-height-550px { min-height: 445px !important; }

}